{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/dolphin-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="dolphin-container">
  <div class="dolphin-img">
    <img 
      src="{% static 'images/dolph.png' %}" 
      alt="A dolphin"
    >
  </div>
  <div class="dolphin-details">
    <h1>{{ dolphin.name }}</h1>
    {% if dolphin.age > 0 %}
      <h2>A {{ dolphin.age }} year old {{ dolphin.breed }}</h2>
    {% else %}
      <h2>A {{ dolphin.breed }} calf.</h2>
    {% endif %}
    <p>{{ dolphin.description }}</p>
    
    <div class="dolphin-actions">
      <a href="{% url 'dolphins_update' dolphin.id %}" class="btn warn">Edit</a>
      <a href="{% url 'dolphins_delete' dolphin.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

{% endblock %}



