{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>

<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/dolphin-detail.css' %}"
/>
<script defer src="{% static 'js/dolphin-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="dolphin-container">
  <div class="dolphin-img">
    <img 
      src="{% static 'images/dolph.png' %}" 
      alt="A dolphin"
    >
  </div>
  <div class="dolphin-details">
    <h1>{{ dolphin.name }}</h1>
    {% if dolphin.age > 0 %}
      <h2>A {{ dolphin.age }} year old {{ dolphin.breed }}</h2>
    {% else %}
      <h2>A {{ dolphin.breed }} calf.</h2>
    {% endif %}
    <p>{{ dolphin.description }}</p>

    <div class="dolphin-actions">
      <a href="{% url 'dolphins_update' dolphin.id %}" class="btn warn">Edit</a>
      <a href="{% url 'dolphins_delete' dolphin.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Feedings 🐟 🦑 🐙 🎐 🦐 </h2>
    </div>
     <h3>Add a Feeding</h3>
    <form
    action="{% url 'add_feeding' dolphin.id %}" 
      method="post" 
      class="subsection-content"
    >
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <button type="submit" class="btn submit">Add Feeding</button>
    </form>
    <h3>Past Feedings</h3>
    <table>
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in dolphin.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>

{% endblock %}




