
{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cat-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Dolphin List</h1>
  
</section>

<section class="card-container">
  {% for dolphin in dolphins %}
    <div class="card">
      <div class="card-content">
        <a href="/dolphins/{{ dolphin.id }}">
        <div class="card-content">
          <div class="card-img-container">
            <img 
              src="{% static 'images/dolph.png' %}" 
              alt="A dolphin"
            >
          </div>
          <h2 class="card-title">{{ dolphin.name }}</h2>
          {% if dolphin.age > 0 %}
            <p>A {{ dolphin.age }} year old {{ dolphin.breed }}</p>
          {% else %}
            <p>A {{ dolphin.breed }} calf.</p>
          {% endif %}
          <p><small>{{ dolphin.description }}</small></p>
        </div>
    </div>
  {% endfor %}
</section>

{% endblock %}